<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>REGISTER</title>
	<link rel="stylesheet" href="/themes/event-i.min.css" />
	<link rel="stylesheet" href="/themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="/javascripts/register.js"></script>
</head>
<body>
  <div role="heading" style="margin-top: 10%">
    <h1 style="text-align: center">REGISTRATION</h1>
  </div>
  <form style="text-align: center; width: 80%; margin-left: 10%;margin-right: 10%">
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <input type="password" id="con_password" placeholder="Confirm Password" required>
  </form>
  <div style="margin-left: 10%;margin-right: 10%">
    <button style="width: 100%" id="btn_register">REGISTER</button>
  </div>
  
  
</body>
</html>