<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View List</title>
  <link rel="stylesheet" href="/themes/event-i.min.css" />
  <link rel="stylesheet" href="/themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="javascripts/showlist.js"></script>
  <style>
    .card {
      margin-top: 10px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
      max-width: 100%;
      margin: auto;
      text-align: center;
      font-family: arial;
      padding: 16px;
    }

    .price {
      color: grey;
      font-size: 22px;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #4867AA;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      opacity: 0.7;
    }
  </style>
</head>

<body>
  <div data-role="navbar">
    <ul>
      <li><a id="btn_home" class="ui-btn-active">Home</a></li>
      <li><a id="btn_add_new">Add New Event</a></li>
    </ul>
  </div>
  <div class="card" id="card">

  </div>
  <div>
    <button style="background-color: #DE1C1C; color: white" id="btn_logout">LOGOUT</button>
  </div>


</body>

</html>
